<!DOCTYPE html>
<html>

<head>
    <title>index</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body >
    <h4 class=""> jojoPay </h4>   
    <button type="button" class="cPassBtn" onclick="window.location.href='{{ url_for("passChange") }}';">Change Password</button>
    </br>
    {% if userData %}
    <h5> Roll Num </h5>{{ userData['rollNum'] }} 
    </br>
    <h5> User Name </h5>{{ userData['userName'] }} 
       
    </table>

    {% endif %}

    </br></br> </br> </br>
    <form class="cust-form"  action='/findUser' method="POST">
        <label for="">User</label>
        <input type="number" class="form-control" name="userID" id="userID" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Enter user to send/ receive Amount</small>
        </br><p class='infoMsg'>{{infoMsg}}</p>
        <input type="submit" value="Find User">
    </form>
    <div class='cust-div'>
    </br>
    <button type="button" onclick="window.location.href='{{ url_for("sendAmount") }}';">Send</button>
    <button type="button" onclick="window.location.href='{{ url_for("receiveAmount") }}';">Receive</button>
    </br></br> </br>
    <div class="pendingReqs">
        {% if pendingRequests %}
        <table border=1>
        <tr>
            <th> Requestor </th>
            <th> Amount </th>
            <th> Action </th>
        </tr>
        {% for req in pendingRequests %}
        <tr>
            <td> {{ req['userName'] }} </td>
            <td> {{ req['Amount'] }} </td>
             
            <td>  
            <form action="/sendAmount" method="post" class="reqSendFormBtn">
                <input id="reqUID" name="reqUID" type="hidden" value="{{ req['id'] }}">
                <input id="reqUAmount" name="reqUAmount" type="hidden" value="{{ req['Amount'] }}">
                <input id="isReq" name="isReq" type="hidden" value="1">
                <input type="submit" value="Send Amount">
            </form>
            </td>
        </tr>
        {% endfor %}
        
    </table>
    {% endif %}
    </div>
    
    </br></br> </br> </br></br> </br> </br>
    </div>
</body>

</html>