<!DOCTYPE html>
<html>

<head>
    <title>index</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <form class="cust-form" action="/register" method="POST">
        Roll Num : <input type="number" name="rollNum"></br>
        Username : <input type="text" name="userName"></br>
        Email : <input type="email" name="email"></br>
        Phone : <input type="number" name="phNum"></br>
        Password : <input type="text" name="passKey"></br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>